@model IEnumerable<InvoiceManager.Models.EmployeeModel>

@{
    ViewData["Title"] = "ViewEmployees";
}

<h1>Přehled zaměstnanců</h1>

<p>
    <a asp-action="Create">Přidat zamestnance</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { Id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { Id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { Id = item.Id }) |
                @Html.ActionLink("Payment", "Create", "Payment", new { Id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
